<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>2433 Project 4</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="">
<style>
</style>
<script src=""></script>
<body>
    <h1 style="color:green; position:absolute; left: 20px;">  
            Start A Quote 
        </h1>
    <div style = "position:absolute; top: 80px;
    left: 20px; text-align:center;
    ">
    <h2>Enter your information below</h2>
    

<form oninput="x.value= 5755.72697033457 + 322.870747* parseInt(Age.value)+(231.664423) * parseInt(Diabetes.value)+(-4.400753) * parseInt(BloodPressureProblems.value)+(6487.195596) * parseInt(AnyTransplants.value)+(2549.749326
) * parseInt(AnyChronicDiseases.value)+(-3.571462) * parseInt(Height.value)+(66.080248
) * parseInt(Weight .value)+(47.325868
) * parseInt(KnownAllergies.value)+(1681.452833) * parseInt(HistoryOfCancerInFamily .value)+(-642.595969) * parseInt(NumberOfMajorSurgeries.value) ">
  <label for="Age">Age:</label><br>
  <input type="text" id="Age" name="Age"><br>
  <label for="Diabetes">Diabetes: (0 no 1 yes)</label><br>
  <input type="text" id="Diabetes" name="Diabetes"><br>
  <label for="BloodPressureProblems">Blood Pressure Problems: (0 no 1 yes)</label><br>
  <input type="text" id="BloodPressureProblems" name="BloodPressureProblems"><br>
  <label for="AnyTransplants">Any Transplants: (0 no 1 yes)</label><br>
  <input type="text" id="AnyTransplants" name="AnyTransplants"><br>
  <label for="AnyChronicDiseases">Any Chronic Diseases: (0 no 1 yes)</label><br>
  <input type="text" id="AnyChronicDiseases" name="AnyChronicDiseases"><br>
  <label for="Height">Height:</label><br>
  <input type="text" id="Height" name="Height"><br>
  <label for="Weight">Weight:</label><br>
  <input type="text" id="Weight" name="Weight"><br>
  <label for="KnownAllergies">Known Allergies: (0 no 1 yes)</label><br>
  <input type="text" id="KnownAllergies" name="KnownAllergies"><br>
  <label for="HistoryOfCancerInFamily">History Of Cancer In Family: (0 no 1 yes)</label><br>
  <input type="text" id="HistoryOfCancerInFamily" name="HistoryOfCancerInFamily"><br>
  <label for="NumberOfMajorSurgeries">Number Of Major Surgeries:</label><br>
  <input type="text" id="NumberOfMajorSurgeries" name="NumberOfMajorSurgeries"><br>
  <br>
    <label for="Price">Medical Premium Insurance Quote:</label><br>
    <output name="x" for="a b"></output>
</form>
</div><br>

<h1 style="color:green; position:absolute; top: 10px; right: 440px;">  
            Manage Database
        </h1>

<div style = "position:absolute; top: 80px;
right: 450px;
">

<h2>Insert or Delete</h2>
<h3>Choose the table to work on</h3>
<form action="http://127.0.0.1:5000/table" method="POST">
    {% for item in table_names %}
        <input type="radio" name="table_name" value={{item}}>{{ item }}<br>
    {% endfor %}
    <p><input type = "submit" value = "submit" /></p>
</form>
</div>

</body>
</html>