<!doctype html>
<body style="text-align:center;">
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>

  <table border = 1>
     {% for key, value in result.items() %}
    <tr>
       <th> {{ key }} </th>
       <td> {{ value }}</td>
    </tr>
 {% endfor %}
</table>
<br><br>
{{ query }}

<h2>Return to Homepage</h2>
<form action="http://127.0.0.1:5000/action" method="GET">
   <p><input type="submit" value="Back" /></p>
</form>
</body>